# To run tests, copy this file to test.cfg and set the values below appropriately.

[sampleservicetest]


# path to a temporary directory to use for tests.
test.temp.dir=/path/to/temp/dir/make/sure/this/is/safe

# true to keep the temporary directory contents after running tests. 
test.temp.dir.keep=false
