# IDEs and dev tools
.vscode
.cspell
kb-sdk
*.py.bak-*

# Python local usage
__pycache__

# Testing
test/test.cfg
test_local
deploy.cfg
htmlcov
cov_profile.lcov
.coverage*

# A handy place to stash files before deletion 
_temp

# macOS
.DS_Store