# Developer artifacts
.vscode
.idea
deploy.cfg
*.pyc
.mypy_cache
.pytest_cache

# Testing
test/test.cfg
test_local
.coverage
test/test_temp/
htmlcov
cov_profile.lcov
.coverage*

# A handy place to stash files before deletion 
_temp

# macOS
.DS_Store

